.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 0 0;
  width: 100%;
  position: relative;
}

.cocoImg {
  display: none;
}

.logo {
  margin: 0 0 2rem 0;
  cursor: pointer;
}

@media screen and (min-width: 40rem) {
  .contentContainer {
    width: 50%;
  }

  .cocoImg {
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
  }
}
