.container {
  display: flex;
  margin: 0 0 1.5rem 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 0 0 1.5rem;
}
