.container {
  width: 25rem;
  padding: 3rem;
  position: relative;
}

.title {
  font-size: 1.2rem;
  margin: 0 0 1.5rem 0;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocoImg {
  position: absolute;
  right: 1rem;
}

@media screen and (min-width: 40rem) {
  .container {
    padding: 0;
  }
}
