.container {
  width: 25rem;
  padding: 3rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem 0;
}

.backButtonContainer {
  display: flex;
  justify-content: center;
  margin: 0 1rem 0 0;
}

.title {
  font-size: 1.2rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 40rem) {
  .container {
    padding: 0;
  }
}
